<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
   
  <header>
    <div class="header-content">
      <div class="header-content-top">
        <img src='/images/logo-mercado-liebre.svg' />
        <input type="text" placeholder="Buscar productos, marcas">
        <i class="fas fa-search"></i>
      </div>
        <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
    </div>

    <section class="header-middle">
      <div class="header-offers">
        <ul>
          <li>Ofertas</li>
          <li>Tiendas Oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
        </ul>
      </div>
  
      <div class="header-session">
        <ul>
          <div class="header-session-account">
            <li><a href='register'>Crea tu cuenta</a></li>
            <i class="far fa-id-card"></i>
          </div>
          <div class="header-session-login">
            <li><a href='login'>Ingresa</a></li>
            <i class="fas fa-sign-in-alt"></i>
          </div>
          <div class="header-session-cart">
            <li>Mis compras</li>
            <i class="fas fa-shopping-basket"></i>
          </div>
        </ul>
      </div>
    </section>

    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>

  <section class="main-banner">
    <img src="/images/img-home-banner.png" >
  </section>
  <main>
    <section>
      <h1>Basado en tu ultima visita</h1>
      
      <section class="main-section-one-one">
        <section class="main-section-one">
          <article>
            <img src='/images/img-cafetera-moulinex.jpg' />
            <div class="main-product">
              <div class="main-product-icon">
                <i class="fas fa-truck"></i>
              </div>
              <p>$6.770</p>
              <p class="main-product-off">40% OFF</p>
              <h2 class="main-product-title">Cafetera Moulinex</h2>
            </div>
          </article>
          
          <article>
            <img src='/images/img-macbook-pro-2019.jpg' />
            <div class="main-product">
              <div class="main-product-icon">
                <i class="fas fa-truck"></i>
              </div>
              <p>$230.000</p>
              <p class="main-product-off">20% OFF</p>
              <h2 class="main-product-title">MacBook Pro 2019</h2>
            </div>
          </article>
        </section>
        
        <section class="main-section-two">
          <article>
            <img src='/images/img-samsung-galaxy-s10.jpg' />
            <div class="main-product">
              <div class="main-product-icon">
                <i class="fas fa-truck"></i>
              </div>
              <p>$70.500</p>
              <p class="main-product-off">10% OFF</p>
              <h2 class="main-product-title">Samsung Galaxy S10</h2>
            </div>
          </article>
        
        <article>
          <img src='/images/img-tv-samsung-smart.jpg' />
          <div class="main-product">
            <div class="main-product-icon">
              <i class="fas fa-truck"></i>
            </div>
            <p>$23.200</p>
            <p class="main-product-off">5% OFF</p>
            <h2 class="main-product-title">SmarTv Samsung 43"</h2>
          </div>
        </article>
      </section>
      </section>
    </section>

    <section>
      <h1>Ofertas</h1>
      
      <section class="main-section-two-two">
        <section class="main-section-one">
          <article>
            <img src='/images/img-cafetera-moulinex.jpg' />
            <div class="main-product">
              <div class="main-product-icon">
                <i class="fas fa-truck"></i>
              </div>
              <p>$6.770</p>
              <p class="main-product-off">40% OFF</p>
              <h2 class="main-product-title">Cafetera Moulinex</h2>
            </div>
          </article>
          
          <article>
            <img src='/images/img-macbook-pro-2019.jpg' />
            <div class="main-product">
              <div class="main-product-icon">
                <i class="fas fa-truck"></i>
              </div>
              <p>$230.000</p>
              <p class="main-product-off">20% OFF</p>
              <h2 class="main-product-title">MacBook Pro 2019</h2>
            </div>
          </article>
        </section>
        
        <section class="main-section-two">
          <article>
            <img src='/images/img-samsung-galaxy-s10.jpg' />
            <div class="main-product">
              <div class="main-product-icon">
                <i class="fas fa-truck"></i>
              </div>
              <p>$70.500</p>
              <p class="main-product-off">10% OFF</p>
              <h2 class="main-product-title">Samsung Galaxy S10</h2>
            </div>
          </article>
          
          <article>
            <img src='/images/img-tv-samsung-smart.jpg' />
            <div class="main-product">
              <div class="main-product-icon">
                <i class="fas fa-truck"></i>
              </div>
              <p>$23.200</p>
              <p class="main-product-off">5% OFF</p>
              <h2 class="main-product-title">SmarTv Samsung 43"</h2>
            </div>
          </article>
        </section>
      </section>
    </section>
  </main>

  <footer>
    <div class="footer-cards">
      <section class="footer-card">
        <i class="fas fa-credit-card"></i>
        <h1>Paga con tarjeta o en efectivo</h1>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      
      <section class="footer-shipping">
        <i class="fas fa-gift"></i>
        <h1>Envío gratis desde $ 2.500</h1>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>
      </section>
  
      <section class="footer-security">
        <i class="fas fa-user-shield"></i>
        <h1>Seguridad, de principio a fin</h1>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
      </section>
    </div>
    
    <section class="footer-terms">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>

  </footer>

</body>
</html>