<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="header-content">
          <div class="header-content-top">
            <img src='/images/logo-mercado-liebre.svg' />
            <input type="text" placeholder="Buscar productos, marcas">
            <i class="fas fa-search"></i>
          </div>
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>
    
        <section class="header-middle">
          <div class="header-offers">
            <ul>
              <li>Ofertas</li>
              <li>Tiendas Oficiales</li>
              <li>Vender</li>
              <li>Ayuda</li>
            </ul>
          </div>
      
          <div class="header-session">
            <ul>
              <div class="header-session-account">
                <li>Crea tu cuenta</li>
                <i class="far fa-id-card"></i>
              </div>
              <div class="header-session-login">
                <li>Ingresa</li>
                <i class="fas fa-sign-in-alt"></i>
              </div>
              <div class="header-session-cart">
                <li>Mis compras</li>
                <i class="fas fa-shopping-basket"></i>
              </div>
            </ul>
          </div>
        </section>
    
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </header>

      <form class="register-form" action='login' method="get">
        <section class="single-inputs">
          <input type="text" placeholder="Full Name" required>
        
          <input type="text" placeholder="Username" required>
        
          <input type="text" placeholder="Address" required>
        </section>

        <label for="date">Birth Date</label>
        <input type="date" id="date" required>
        
        <section>
          <div class="user-profile">
            <section>
              <h1>User profile</h1>
            </section>
            <section class="profile-options">
              <article class="option-1">
                  <label for="comprar">comprador</label>
                  <input type="radio" id='comprar' value='comprar'>
              </article>
              
         
              <article class="option-2">
                  <label for="vender">vendedor</label>
                  <input type="radio" id='vender' value='vender'>
              </article>
              
            </section>
          </div>
          
          <div class="interests">
            <section>
              <h1>Interests</h1>
            </section>
            <section>
              <input type="checkbox" id='category1'>
              <label for="category1">Electro</label>
              
              <input type="checkbox" id='category2'>
              <label for="category2">Moda</label>
              <input type="checkbox" id='category3'>
              
              <label for="category3">Hogar</label>
              <input type="checkbox" id='category4'>
              
              <label for="category4">Jugueteria</label>
              <input type="checkbox" id='category5'>
              
              <label for="category5">Vida Sana</label>
              
            </section>
          </div>
        </section>
        
        <label for="photo">User photo</label>
        <input type="file" id='photo' required>
       
        <input type="password" placeholder="password" required>
        <input type="password" placeholder="Confirm Password" required>
        
        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
      </form>

      <footer>
        <div class="footer-cards">
          <section class="footer-card">
            <i class="fas fa-credit-card"></i>
            <h1>Paga con tarjeta o en efectivo</h1>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
              puntos de pago. ¡Y siempre es seguro!</p>
          </section>
          
          <section class="footer-shipping">
            <i class="fas fa-gift"></i>
            <h1>Envío gratis desde $ 2.500</h1>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
              productos. Es un beneficio de Mercado Puntos.</p>
          </section>
      
          <section class="footer-security">
            <i class="fas fa-user-shield"></i>
            <h1>Seguridad, de principio a fin</h1>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
              porque estás siempre protegid@.</p>
          </section>
        </div>
        
        <section class="footer-terms">
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    
      </footer>
</body>
</html>